<div class="header-space">
<div class="container">
  <div class="row">
    <div class="col-xs-3">
          <h3>User info</h3>
      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size:'100x100' %>
        <table class="table">
          <tr>
　　        <th><h4>name</h4></th>
　　        <th><%= current_user.name %></th>
　        </tr>
　        <tr>
　　        <th><h4>introduction</h4></th>
　　        <th><%= current_user.introduction %></th>
　　      </tr>
        </table>
        <div class="row">
          <%= link_to edit_user_path(current_user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" do %>
            <i class="fa fa-wrench"></i>
          <% end %>
        </div>
        <h3>New book</h3>
        <%= form_for @book do |f| %>
          <div class="book-form row">
            <label for="book_title"><h4>Title</h4></label>
            <%= f.text_field :title, :class => 'col-xs-12' %>
          </div>
          <div class="book-form row">
            <label for="book_body"><h4>Opinion</h4></label>
            <%= f.text_area :body, :class => 'col-xs-12' %>
          </div>
          <div class="row" style="margin-top: 10px;">
            <%= f.submit 'Create Book', :class => 'col-xs-12 btn btn-primary' %>
          </div>
        <% end %>
        
    </div>
        
    <div class="col-xs-9">
      <h3>Books</h3>
      <table class="table table-hover">
        
        <thead>
          <tr>
            <th></th>
            <th><h4>Title</h4></th>
            <th><h4>Opinion</h4></th>
          </tr>
        </thead>
        <% @books.each do |book| %>
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(book.user) do %>
                <%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
              <% end %>
            </td>
            <td><%= link_to book.title, book_path(book.id) %></td>
            <td><%= book.body %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    
  </div>
</div>

</div>